# Flutter
shakti_flutter/.dart_tool/
shakti_flutter/.packages
shakti_flutter/build/
shakti_flutter/android/
shakti_flutter/ios/
shakti_flutter/web/
shakti_flutter/.flutter-plugins
shakti_flutter/.flutter-plugins-dependencies
shakti_flutter/pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
*.jks
*.keystore
*.env
